
.A_paragrapher
{
    width: 55%;
    height: 50%;
    border: 1px solid #778899;
    position:absolute;
    font-size: 10pt;
    font-family: Verdana;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 3%;
    
}

.table
{
    width: 80%;
    height: 25%;
    margin-left:4%;
    font-size: 8pt;
    font-family: Verdana;
}

input[type=text],input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 25%;
    background-color: #636363;
    color: #f2f2f2;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-style: bold;
    font-size: 14pt;
    font-family: Verdana;
  }
  
  input[type=submit]:hover {
    background-color: #808080;
    color: #fff;
  }
  
  